In [1]:
!pip install -U scikit-learn

Requirement already satisfied: scikit-learn in c:\anaconda\lib\site-packages (1.2.1)
Requirement already satisfied: numpy>=1.17.3 in c:\anaconda\lib\site-packages (from scikit-learn) (1.20.3)
Requirement already satisfied: scipy>=1.3.2 in c:\anaconda\lib\site-packages (from scikit-learn) (1.7.1)
Requirement already satisfied: joblib>=1.1.1 in c:\anaconda\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\anaconda\lib\site-packages (from scikit-learn) (2.2.0)

In [2]:
from sklearn.neighbors import KNeighborsClassifier 
import pandas as pd
import numpy as np
df=pd.read_csv("C:/Projects/Ration/Python/Final.csv")

In [3]:
print(df.head())

   ID  District  Employment  Number Of Family Members  Income   Card Type
0   1  Ariyalur           0                         2       1  Sugar Card
1   1  Ariyalur           0                         2       2    AAY Card
2   1  Ariyalur           0                         3       0   Rice Card
3   1  Ariyalur           0                         3       1   Rice Card
4   1  Ariyalur           0                         3       2    AAY Card

In [4]:
print(df.tail())

     ID     District  Employment  Number Of Family Members  Income  \
633   9  Kanchipuram           0                         4       2
634  19   Pudukottai           0                         2       2
635  19   Pudukottai           0                         2       2
636  19   Pudukottai           1                         2       2
637  19   Pudukottai           1                         2       2

       Card Type
633     AAY Card
634     AAY Card
635     AAY Card
636  Police Card
637  Police Card

In [5]:
df.columns

Index(['ID', 'District', 'Employment', 'Number Of Family Members', 'Income',
       'Card Type'],
      dtype='object')

In [6]:
df.shape

(638, 6)

In [7]:
df.set_index("District", inplace = True)

In [8]:
print(df)

             ID  Employment  Number Of Family Members  Income    Card Type
District
Ariyalur      1           0                         2       1   Sugar Card
Ariyalur      1           0                         2       2     AAY Card
Ariyalur      1           0                         3       0    Rice Card
Ariyalur      1           0                         3       1    Rice Card
Ariyalur      1           0                         3       2     AAY Card
...          ..         ...                       ...     ...          ...
Kanchipuram   9           0                         4       2     AAY Card
Pudukottai   19           0                         2       2     AAY Card
Pudukottai   19           0                         2       2     AAY Card
Pudukottai   19           1                         2       2  Police Card
Pudukottai   19           1                         2       2  Police Card

[638 rows x 5 columns]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 638 entries, Ariyalur to Pudukottai
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        638 non-null    int64
 1   Employment                638 non-null    int64
 2   Number Of Family Members  638 non-null    int64
 3   Income                    638 non-null    int64
 4   Card Type                 638 non-null    object
dtypes: int64(4), object(1)
memory usage: 29.9+ KB

In [10]:
df.describe()

               ID  Employment  Number Of Family Members      Income
count  638.000000  638.000000                638.000000  638.000000
mean    18.056426    0.329154                  3.376176    2.210031
std     10.176617    0.470275                  1.061469    1.208198
min      1.000000    0.000000                  1.000000    0.000000
25%      9.000000    0.000000                  3.000000    1.000000
50%     18.000000    0.000000                  3.000000    2.000000
75%     27.000000    1.000000                  4.000000    3.000000
max     36.000000    1.000000                  5.000000    4.000000

In [11]:
df.shape

(638, 5)

In [12]:
df

             ID  Employment  Number Of Family Members  Income    Card Type
District
Ariyalur      1           0                         2       1   Sugar Card
Ariyalur      1           0                         2       2     AAY Card
Ariyalur      1           0                         3       0    Rice Card
Ariyalur      1           0                         3       1    Rice Card
Ariyalur      1           0                         3       2     AAY Card
...          ..         ...                       ...     ...          ...
Kanchipuram   9           0                         4       2     AAY Card
Pudukottai   19           0                         2       2     AAY Card
Pudukottai   19           0                         2       2     AAY Card
Pudukottai   19           1                         2       2  Police Card
Pudukottai   19           1                         2       2  Police Card

[638 rows x 5 columns]

In [13]:
import warnings
warnings.filterwarnings('ignore')

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [15]:
df_model = df.copy()
scaler = StandardScaler()
features= [['ID','Employment','Number Of Family Members','Income']]
for feature in features:
    df_model[feature] = scaler.fit_transform(df_model[feature])

In [16]:
X = df[['ID','Employment','Number Of Family Members','Income']]
Y = df[['Card Type']]

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state=7, stratify=Y)

In [17]:
knn = KNeighborsClassifier(n_neighbors=1)

knn.fit(X_train, Y_train)

print(knn.score(X_test, Y_test))

0.984375

In [18]:
new_row=np.array([[19,1,2,2]])

In [19]:
Y = df[df['Employment']==new_row[0][1]]['Card Type'].values
X = df[df['Employment']==new_row[0][1]].drop('Card Type', axis=1).values

In [20]:
df.dropna(axis="columns", how="any", inplace=True)

In [21]:
knn = KNeighborsClassifier(n_neighbors=4)
knn.fit(X, Y)

KNeighborsClassifier(n_neighbors=4)

In [22]:
Y_pred = knn.predict(X)

In [23]:
new_prediction = knn.predict(new_row)
print("Prediction: {}".format(new_prediction))

Prediction: ['Police Card']

In [24]:
new=new_row.tolist()
# # print(new)
new[0].append(new_prediction[0])
# # print(new)
name=list(set(list(df[df['ID']==new[0][0]].index)))
new[0].insert(1,name[0])
# # print(new[0])

In [25]:
from csv import writer

with open("C:/Projects/Ration/Python/Final.csv", 'a') as f_object:

    writer_object = writer(f_object)

    writer_object.writerow(new[0])

    f_object.close()